<h1>日本の人気ホテル検索サイト</h1>
<p>ただいま、作成中好ご期待。</p>
<div class="row">
  <div class="span8">
    <div class="row">
      <div class="span2 sidebar">
	<h1>国内旅行</h1>
      </div>
      <div class="span6 main">
<!-- 検索 -->
<div><h1>キーワード検索</h1></div>

  <div class="row">
    <div class="span6 search_map">
      <h4 class="search_map_title">地図から探す</h4>
       <div class="name_pin">
<button class="btn btn-info hokkaido"><%= link_to "北海道", "#"%></button>
<button class="btn btn-info touhoku"><%= link_to "東北", "#"%></button>
<button class="btn btn-info koushinetu"><%= link_to "甲信越", "#"%></button>
<button class="btn btn-info hokuriku"><%= link_to "北陸", "#"%></button>
<button class="btn btn-info toukai"><%= link_to "東海", "#"%></button>
<button class="btn btn-info kantou"><%= link_to "関東", "#"%></button>
<button class="btn btn-info tokyo"><%= link_to "東京", "#"%></button>

<button class="btn btn-info hakone"><%= link_to "箱根・熱海・伊豆", "#"%></button>

<button class="btn btn-info osaka"><%= link_to "大阪", "#"%></button>

<button class="btn btn-info kinki"><%= link_to "近畿", "#"%></button>

<button class="btn btn-info tyugoku"><%= link_to "中国", "#"%></button>

<button class="btn btn-info shikoku"><%= link_to "四国", "#"%></button>

<button class="btn btn-info kyusyu"><%= link_to "九州", "#"%></button>

<button class="btn btn-info okinawa"><%= link_to "沖縄", "#"%></button>
       </div>
    </div>
       <div class="row">
	  
          <form class="well form-inline span6 main_search">
		
           <div class="index_form_list">
	     <label>ホテル名</label>
             <input class="input-xlarge" type="text" placeholder="例：東京、東京ホテル">
	   </div>
           <div  class="index_form_list">
             <label for="from">宿泊日</label>
             <input class="input-small" type="text" id="from" name="from" />
             <!-- <label class="span1" for="to"></label>-->
             <input class="input-small" type="text" id="to" name="to" />
           </div>
           <div  class="index_form_list">
             <label for="room">部屋数</label>
             <input class="span1" id="room" name="room" value="1" />室
           </div>
           <div  class="index_form_list">
             <label for="adult">大人</label>
             <input class="span1" id="adult" name="adult" value="1" />人
           </div>
           <div  class="index_form_list">
	     <label for="child">お子様</label>
	     <input class="span1" id="child" name="child" value="1" />人
           </div>
           <button type="submit" class="btn">検索する</button>
          </form>
       </div>
       <div class="row" onload="initNave()">
        <form name="frmSearch" method="post" action="http://jws.jalan.net/APIAdvance/StockSearch/V1/" target="_blank">
<input type="hidden" name="key" value="vir13f526be34e">
	<label>都道府県</label>
        <select class="pulldowns" name="pref"  id="pref" onChange="chgBigArea(this)">
                <option value="">Choose Prefecture</option>
        </select>
       <label>大エリア</label>
<select class="pulldowns" name="l_area" id="l_area" onChange="chgSmallArea(this)">
                <option value="">Choose Area</option>
        </select>
<input type="hidden" name="start" value="1" />
<input type="hidden" name="count" value="10" />
<input type="hidden" name="pict_size" value="0" />
<input name="search" id="search" type="submit" value="search" alt="この条件で検>索" />
</form>
       </div>
  </div>
<!-- 検索 end-->
      </div>
      <div class="row">
        <div class="span8">
	  <h1>オススメ旅行特集</h1>
        </div>
      </div>
    </div>
  </div>
</div>
