<%= form_for @user do |f| %>
  <% if @user.errors.any?%>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.date_select( :birthday, options = { :start_year => 1930}) %>
  </p>
  <p>
    <label><%= f.radio_button :sex, "man" %> 男</label>
    <label><%= f.radio_button :sex, "woman" %> 女</label>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>

